.iconed-link {
  font-size: 18px;
  font-weight: bold;
  color: #586ED3;
  padding-left: 38px;
  background: svg-load('link.svg', fill=#586ED3, width=22px, height=22px) center left no-repeat;

  &:hover {
    text-decoration: underline;
  }
}