.scroll-down-btn {
  font-size: 18px;
  color: $text-color-light;
  background: svg-load('scroll.svg', fill=$text-color-light, width=14px, height=14px) center right no-repeat;
  padding-right: 30px;
}