.skills-row__title {
  font-size: 24px;
  font-weight: bold;
  padding-left: 8px;
  margin-bottom: 22px;
}

.skills-row__list {
  display: flex;
}

.skill-row__item {
  margin-right: 36px;

  &:last-child {
    margin-right: 0;
  }
}