.tags {
  display: flex;
  flex-wrap: wrap;  
}

.tags__item {
  font-size: 15px;
  font-weight: 600;
  color: rgba($text-color-dark, 0.8);
  padding: 14px 22px;
  background-color: #F3F6F9;
  border-radius: 30px;
  margin-right: 15px;
  margin-bottom: 15px;
}