.user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user__avatar {
  align-self: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 68px;
}

.user__data-title {
  color: rgba($text-color-light, 0.3);
  padding: 8px 80px 8px 0;
}