.user-info {
  display: flex;
  justify-content: center;
}

.user-info__text {
  font-size: 18px;
  color: rgba($text-color-light, 0.8);
  font-weight: 600;
  text-align: right;
  margin-right: 56px;
  padding-top: 10px;
  flex-basis: 165px;
}

.user-info__title {
  font-size: 72px;
  font-weight: 800;
  line-height: 1;
  flex-basis: 400px;
  margin-right: 221px;
}