.values {
  background: url("~images/bg/hands.png") bottom -90px left no-repeat, url("~images/bg/values.jpg") top center / cover no-repeat;
}

.values__container{
  padding: 128px 0 95px 0;
}

.values__info-block{
  width: 600px;
  margin-left: 34.2%;
  margin-bottom: 80px;
}

.values__info-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 54px;
}

.values__info-content {
  font-weight: 600;
  line-height: 1.87;
  color: rgba($text-color-light, 0.8);
}