@import "../../../styles/mixins.pcss";

.headline-component {
  color: rgba($text-color-light, 0.5);
  background: $bg-dark;
}

.container-headline {
  display: flex;
  padding: 16px 0;
  align-items: center;
}

.title {
  margin-left: 25px;

  @include phones {
    display: none;
  }
}

.buttons {
  margin-left: auto;
}

.btn {
  color: rgba($text-color-light, 0.9);
  text-decoration: underline;
  background: transparent;
}