.skill-component {
  display: flex;
  align-items: center;
}

.title {
  width: 45%;
  margin-right: auto;
}

.percent {
  text-align: center;
  width: 75px;
  margin-right: 50px;
}

.buttons {
  display: flex;
}

.btn {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}