.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
  background: url("../images/bg/admin.png") center center / cover no-repeat;
  padding: 54px 0 30px;
}

.header {
  display: flex;
  margin-bottom: 54px;
}

.title {
  font-size: 21px;
  font-weight: bold;
  margin-right: 54px;
}

.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  width: calc((100% - 24px) / 2);
  margin-bottom: 24px;
}